@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align:center;
    font-size:20px;
    background:black;
    color:white; 
}
h1 {
    
    font-size: 40px;
    color:goldenrod;
    text-transform: uppercase;
}

.submit {
    background:goldenrod;
    color:white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 2%;
    margin: 5%;
    margin-bottom: 0;
}

.info{
    display: inline-block;
    
    clear: center;
    width: 250px;
    text-align: left;
}

.cards{
    
    display: inline-block;
    
    clear: center;
    width: 250px;
    text-align: left;
}

.foodItem{
    display: inline-block;
    
    clear: center;
    width: 250px;
    text-align: left;
}